body {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 1rem;

  width: 50%;
}

button {
  width: 50%;
}
